@model AlgorithmModels;



<h1>AlgorithmSelected</h1>

<p>@Model.SelectedAlgorithm</p>

@if (@Model.SelectedAlgorithm.Equals(AlgorithmSelection.BinarySearch))
{
    <form method="post" asp-action="GenerateResponse" asp-controller="UserInput">

          <label for="valueToFind">Value To Find:</label>
          <input type="text" id="valueToFind" asp-for="TargetValue"><br><br>
          <label for="collectionOfValues">Collection Of Values (integers must be separated by a comma)</label>
          <input type="text" id="collectionOfValues" asp-for="Collection"><br><br>

          <input type="submit" value="Run" />

    </form>
}

else if (@Model.SelectedAlgorithm.Equals(AlgorithmSelection.InsertingSinglyLinkedList))
{
    <form method="post" asp-action="GenerateResponse" asp-controller="UserInput">

          <label for="valueToFind">Insertion Position:</label>
          <input type="text" id="valueToFind" asp-for="TargetValue"><br><br>
          <label for="collectionOfValues">Value of node to be inserted: </label>
          <input type="text" id="collectionOfValues" asp-for="Collection"><br><br>

          <input type="submit" value="Run" />

    </form>
}

else
{
    <p1>Not working</p1>
}

